//- =========================================================================================
	File Name: headers-breadcrumbs-with-search.jade
	Description: Page header with page title, breadcrumbs, description and search input-box.
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 1.2
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

block pageVars
	- var pageTitle    = "Breadcrumbs with search"
	- var pageSubTitle = "Page header with breadcrumbs & search"
	- var description  = "Page header with page title, breadcrumbs, content title and search input-box."
	- var activeMenu   = "headers-breadcrumbs-with-search"

extends template

append breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Page headers"}, {name:"Breadcrumbs with search"}])

block page-header
	include page-headers/breadcrumbs-with-search

//- Include page content in page block
append content
	include ../contents/headers-breadcrumbs-with-search.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/ui/prism.min.css')

//- Page CSS
//------------------------------

//- Add custom page specific CSS
append pagecss

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(type='text/javascript' ,src='../../../app-assets/vendors/js/ui/prism.min.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
