//- =========================================================================================
	File Name: icons-fps-line.jade
	Description: FPS Line Icons
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 1.2
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

block pageVars
	- var pageTitle = "FPS Line Icons"
	- var activeMenu = "icons-fps-line"

extends template

append breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"Icons"}, {name:"FPS Line Icons"}])



//- Include page content in page block
append content
	include ../contents/icons-fps-line.html