//- =========================================================================================
	File Name: icons-evil.jade
	Description: Evil Icons
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 1.2
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

block pageVars
	- var pageTitle = "Evil Icons"
	- var activeMenu = "icons-evil"

extends template

append breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"Icons"}, {name:"Evil Icons"}])



//- Include page content in page block
append content
	include ../contents/icons-evil.html