//- =========================================================================================
	File Name: jquery-ui-autocomplete.jade
	Description: jQuery UI autocomplete
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 1.2
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

block pageVars
	- var pageTitle = "jQuery UI autocomplete"
	- var pageSubTitle = "jQuery UI autocomplete examples"
	- var description = "Enables users to quickly find and select from a pre-populated list of values as they type, leveraging searching and filtering. The datasource is a simple JavaScript array, provided to the widget using the source-option."
	- var activeMenu = "jquery-ui-autocomplete"

extends template

append breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"jQuery UI"}, {name:"Autocomplete"}])



//- Include page content in page block
append content
	include ../contents/jquery-ui-autocomplete.html


//- Vendor CSS
//------------------------------
//- Add vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/ui/jquery-ui.min.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src='../../../app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js', type='text/javascript')

//- Page CSS
//------------------------------
//- Add page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href='../../../app-assets/css#{rtl}/plugins/ui/jqueryui.css')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src='../../../app-assets/js/scripts/ui/jquery-ui/autocomplete.js', type='text/javascript')