#preloader-wrapper
	#loader
		.folding-cube.full-height.full-width.loader-white
			.cube1.cube
			.cube2.cube
			.cube4.cube
			.cube3.cube
	.loader-section.section-top.bg-indigo.bg-lighten-2
	.loader-section.section-bottom.bg-indigo.bg-lighten-2