<?xml version="1.0"?>
<configuration>
  <system.web>
      <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime maxRequestLength="10240" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="il.ac.ruppin.proj.WebService" value="http://proj.ruppin.ac.il/bgroup59/test2/tar1/AJAXWebService.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="DAKADBConnectionString"
      connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup59_test2;&#xA; User ID=bgroup59;Password=bgroup59_37306"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>