<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="il.ac.ruppin.proj.WebService" value="http://proj.ruppin.ac.il/bgroup59/test2/tar1/AJAXWebService.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="DAKADBConnectionString"
      connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup59_test2;&#xA; User ID=bgroup59;Password=bgroup59_37306"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>