<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="accept, content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
      <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime maxRequestLength="10240" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="il.ac.ruppin.proj.WebService" value="http://proj.ruppin.ac.il/bgroup59/prod/Web/AJAXWebService.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="DAKADBConnectionString"
      connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup59_test2;&#xA; User ID=bgroup59;Password=bgroup59_37306"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>