//- =========================================================================================
	File Name: template.jade
	Description: A file to decide which template to generate.
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 1.2
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent

	NOTE: Uncomment include code of template which you would like to generate, and comment other includes. 
	You can create your own template(i.e custom-template) and include here to generate it.
	==========================================================================================-//

//- Pre defined template include condition  [JADE extends is not workign in include :( ]

//-Vertical menu templates
include ../../templates/starter-kit/vertical-menu-template

//-Vertical content menu templates
//-include ../../templates/starter-kit/vertical-content-menu-template

//-Vertical multi-level menu templates
//-include ../../templates/starter-kit/vertical-multi-level-menu-template

//-Vertical compact menu templates
//-include ../../templates/starter-kit/vertical-compact-menu-template

//-Vertical overlay menu templates
//-include ../../templates/starter-kit/vertical-overlay-menu-template

//-Horizontal menu templates
//-include ../../templates/starter-kit/horizontal-menu-template

//-Horizontal top-icon menu templates
//-include ../../templates/starter-kit/horizontal-top-icon-menu-template


//-You can create your own template(i.e custom-template) and include here to generate it.

//-Your custom template templates
//-include ../templates/starter-kit/custom-template