.content-header-left.col-md-6.col-xs-12
  h2.content-header-title.mb-0 #{pageTitle}
  .row.breadcrumbs-top
    block breadcrumbs
.content-header-right.col-md-6.col-xs-12
  .media.width-250.float-xs-right
    .media-left.media-middle
      #sp-bar-total-sales
    .media-body.media-right.text-xs-right
      h3.m-0 $5,668
      span.text-muted Sales
.content-header-lead.col-xs-12.mt-2
  p.lead
    | #{description}