.content-header-left.col-md-6.col-xs-12
  h2.content-header-title.mb-0 #{pageTitle}
  p.text-muted.mb-0 #{pageSubTitle}
.content-header-right.breadcrumbs-right.col-md-6.col-xs-12
  block breadcrumbs

.content-header-lead.col-xs-12.mt-2
  p.lead
    | #{description}